In [1]:
import os
import pyspark
import requests
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.streaming import StreamingQueryException
import pandas as pd
pd.set_option('display.max_colwidth', None)
import json
from ast import literal_eval
import ast
import time
import numpy as np

In [2]:
os.environ["PYSPARK_PYTHON"] = "python3"
os.environ["SPARK_LOCAL_HOSTNAME"] = "localhost"

In [3]:
spark = SparkSession.builder.appName("TwitterStream").enableHiveSupport().getOrCreate()
spark

In [4]:
sc = spark.sparkContext
sc.setLogLevel("ERROR")

In [5]:
lines = spark.readStream.format("socket").option("host", "127.0.0.1").option("port", 7777).load()

#time.sleep(10)

In [6]:
# Write the tweets to the "tweetquery" memory table
writeTweet = lines.writeStream.\
    outputMode("append"). \
    format("memory"). \
    queryName("tweetquery"). \
    trigger(processingTime='2 seconds'). \
    start()

print("----- streaming is running -------")

time.sleep(20)

----- streaming is running -------

In [7]:
data_schema = StructType([
    StructField('reply_settings', StringType(), True),
    StructField('edit_history_tweet_ids', ArrayType(StringType()), True),
    StructField('referenced_tweets', ArrayType(MapType(StringType(), StringType())), True),
    StructField('created_at', StringType(), True),
    StructField('lang', StringType(), True),
    StructField('text', StringType(), True),
    StructField('conversation_id', StringType(), True),
    StructField('author_id', StringType(), True),
    StructField('id', StringType(), True),
    StructField('batch_id', IntegerType(), True),
    StructField('hashtags', ArrayType(StringType()), True),
    StructField('attachments.media_keys', ArrayType(StringType()), True),
    StructField('public_metrics.retweet_count', LongType(), True),
    StructField('public_metrics.reply_count', LongType(), True),
    StructField('public_metrics.like_count', LongType(), True),
    StructField('public_metrics.quote_count', LongType(), True),
    StructField('public_metrics.impression_count', LongType(), True),
    StructField('entities.mentions', ArrayType(MapType(StringType(), StringType())), True),
    StructField('user.profile_image_url', StringType(), True),
    StructField('user.pinned_tweet_id', StringType(), True),
    StructField('user.location', StringType(), True),
    StructField('user.protected', BooleanType(), True),
    StructField('user.verified', BooleanType(), True),
    StructField('user.description', StringType(), True),
    StructField('user.name', StringType(), True),
    StructField('user.id', StringType(), True),
    StructField('user.username', StringType(), True),
    StructField('user.created_at', StringType(), True),
    StructField('user.public_metrics.followers_count', LongType(), True),
    StructField('user.public_metrics.following_count', LongType(), True),
    StructField('user.public_metrics.tweet_count', LongType(), True),
    StructField('user.public_metrics.listed_count', LongType(), True),
    StructField('media.media_key', StringType(), True),
    StructField('media.type', StringType(), True),
    StructField('in_reply_to_user_id', StringType(), True),
    StructField('geo.place_id', StringType(), True),
    StructField('place.name', StringType(), True),
    StructField('place.place_type', StringType(), True),
    StructField('place.id', StringType(), True),
    StructField('place.country_code', StringType(), True),
    StructField('place.full_name', StringType(), True),
    StructField('place.country', StringType(), True),
    StructField('place.geo.type', StringType(), True),
    StructField('place.geo.bbox', StringType(), True)
])

In [8]:
try:
    
   # Define an empty dataframe to hold the normalized data
    df_normalized = pd.DataFrame() 
    
    max_id = 0
    
    new_order = ['reply_settings', 'edit_history_tweet_ids', 'referenced_tweets', 'created_at', 'lang', 'text', 'conversation_id', 'author_id', 'id', 'batch_id', 'hashtags', 'attachments.media_keys', 'public_metrics.retweet_count',\
            'public_metrics.reply_count','public_metrics.like_count','public_metrics.quote_count','public_metrics.impression_count','entities.mentions','user.profile_image_url','user.pinned_tweet_id','user.location',\
            'user.protected','user.verified','user.description','user.name','user.id','user.username','user.created_at','user.public_metrics.followers_count','user.public_metrics.following_count','user.public_metrics.tweet_count',\
            'user.public_metrics.listed_count','media.media_key','media.type','in_reply_to_user_id','geo.place_id','place.name','place.place_type','place.id','place.country_code','place.full_name','place.country','place.geo.type','place.geo.bbox']
    
    hdfs_path = "/user/itversity/twitter-landing-data"
    
    while writeTweet.isActive: 

    # Continuously read data from the stream and append to the dataframe
    
        # Read the tweets from the "tweetquery" memory table and show the result
        result_df = spark.sql("SELECT * FROM tweetquery").toPandas()

        # Assuming `result_df` contains the dataframe with the JSON strings
        # Convert each JSON string to a Python dictionary
        result_df['value'] = result_df['value'].apply(json.loads)

        # Normalize the dictionary data to a dataframe
        new_normalized_df = pd.json_normalize(result_df['value'])
        
        
        # Filter out data that has already been appended
        final_normalized_df = new_normalized_df[new_normalized_df['batch_id'] > max_id]

        # Append the new data to the existing dataframe    
        df_normalized = df_normalized.append(final_normalized_df)
        
        max_id = df_normalized["batch_id"].max()

        df_normalized = df_normalized.reindex(columns=new_order)
        
        
        
        # change the dataframe coulmns datatypes to convert it into spark dataframe
        
        df_normalized['referenced_tweets'] = df_normalized['referenced_tweets'].apply(lambda x: [str(tweet) for tweet in x] if isinstance(x, list) else [])
        df_normalized['referenced_tweets'] = df_normalized['referenced_tweets'].apply(lambda x: [json.loads(tweet.replace("'", "\"")) for tweet in x] if isinstance(x, list) else [])
        df_normalized['attachments.media_keys'] = df_normalized['attachments.media_keys'].apply(lambda x: [] if isinstance(x, float) and np.isnan(x) else x)
        df_normalized['user.pinned_tweet_id'] = df_normalized['user.pinned_tweet_id'].apply(lambda x: None if x == [] else x)
        df_normalized['attachments.media_keys'] = df_normalized['attachments.media_keys'].fillna(value={})
        # Fill null values with an empty dictionary
        df_normalized['entities.mentions'] = df_normalized['entities.mentions'].fillna(value={})
        # Convert string values to dictionary values
        df_normalized['entities.mentions'] = df_normalized['entities.mentions'].apply(lambda x: [ast.literal_eval(mention) if isinstance(mention, str) else mention for mention in x] if isinstance(x, list) else [])


        # Create Spark DataFrame
        spark_df = spark.createDataFrame(df_normalized, schema=data_schema)
        
        
        spark_df = spark_df.withColumn("created_at", to_timestamp("created_at", "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'"))
        
        # Extract Year, Month, Day, and Hour from created_at column
        final_spark_df = spark_df.withColumn("Year", year("created_at")) \
            .withColumn("Month", month("created_at")) \
            .withColumn("Day", dayofmonth("created_at")) \
            .withColumn("Hour", hour("created_at"))
        
        # Convert DataFrame to Spark DataFrame and write to HDFS partitioned by year, month, day, and hour
        final_spark_df.write.partitionBy("year", "month", "day", "hour").mode("append").parquet("twitter-landing-data")
        
        
        
        # Load the partitioned data into a Spark DataFrame
        hive_df = spark.read.parquet(hdfs_path+"/*/*/*/*")
        
        # create a temporary view of the DataFrame
        hive_df.createOrReplaceTempView("temp_data_view")
        
        
        hive_df.write.mode("append").saveAsTable("twitter_landing_table").format('hive')
        
        #hive_df.write.mode("append").saveAsTable("twitter_landing_table_test").format('hive')
        
        #spark.sql("CREATE DATABASE IF NOT EXISTS twitter_landing_data_DB")
        
        # Create the Hive table
        #hive_df.write.format("hive").option("database", "twitter_landing_data").mode("append").saveAsTable("twitter_landing_table")
        
        #create the Hive table with the same schema as the DataFrame
        
        #spark.sql("CREATE TABLE IF NOT EXISTS twitter_landing_data_DB.twitter_landing_table \
          #LIKE temp_data_view".format("twitter-landing-data/*/*/*/*"))
        
        '''
        # Create the Hive table with the same schema as the DataFrame
        
        spark.sql("""
        CREATE TABLE IF NOT EXISTS twitter_landing_data_DB.twitter_landing_table
        LIKE temp_data_view
        LOCATION 'hdfs:///user/hive/warehouse/twitter_landing_data_DB.db/twitter_landing_table'
        """).format("hive")
                   
        
        spark.sql("INSERT INTO TABLE twitter_landing_data_DB.twitter_landing_table \
          SELECT * FROM temp_data_view")
        '''

        

        # Wait for a few seconds before reading the stream again
        time.sleep(100)
        
except KeyboardInterrupt:
    # Stop the streaming query when the socket is closed from the Python listener
    writeTweet.stop()
    print("Streaming stopped due to keyboard interrupt")
    
except StreamingQueryException:
    # The socket was closed, stop the query
    writeTweet.stop()
    print("Streaming stopped due to socket closure")
    
except ConnectionResetError:
    # Break the loop when the connection with the port is interrupted
    print("Connection with port interrupted, stopping the loop.")
    writeTweet.stop()
    
#except:
    # Stop the streaming query when the listener sends a unique sign
    #writeTweet.stop()
    #print("Streaming stopped due to a signal from the listener")

Streaming stopped due to keyboard interrupt

In [75]:
print(new_normalized_df)

    reply_settings  \
0         everyone
1         everyone
2         everyone
3         everyone
4         everyone
..             ...
188       everyone
189       everyone
190       everyone
191       everyone
192       everyone

                                                                                                                                                     text  \
0            RT @KSAmofaEN: In continuation of the evacuation efforts made by the Kingdom of #Saudi Arabia under the directives of the Kingdom's Leaders…
1          RT @EKHNews_EN: 🎥 | #Saudi citizen expresses his feelings after arriving in the kingdom of #SaudiArabia \n\n#EKHNews_EN https://t.co/Bp032P6P…
2            RT @arabnews: Saudi students won another global robotics competition in Houston, #US, one of the world's most prestigious events https://t.…
3             RT @TheRajGiri: According to @Fightful, the Miz was one of the people CM Punk spoke to backstage at #WWERAW today. Who can forget the time…
4     RT @going_svt: [TRENDS] Youtube 🌎 update\n\n#2 (+2) SEVENTEEN SUPER\n\nTrending Overall · Music\n#1 United Arab Emirates \n#1 Kuwait\n#1 Qatar\n#2…
..                                                                                                                                                    ...
188           RT @Saudi_Gazette: The Ministry of #Hajj and #Umrah (@MoHU_En) has confirmed that the condition of obtaining a permit to perform the Umrah…
189          RT @islaminind: #Ramadan is a month of eternal blessings. Our journey towards spiritual excellence does not end, rather begins with the end…
190          RT @TheTrueIslamUK: 1/ 🌙 Last night, the Ahmadiyya Muslim Community UK hosted a spectacular #BigIftar event with over 1,000 attendees, incl…
191          RT @ozarslansevinc: Teacher Enbiya Ünal is in custody with her kid in Edirne in TR. Tomorrow on the first day of Ramadan Feast, she will st…
192  RT @smartlaunchpad_: 🌙 Ramadan Giveaway 🌙 \n$5,000 USDT for 50 Winners 🤩 \nRT &amp; share ur USDT address.\n\n#Ramadan #Giveaway #Airdrops #USDT #B…

                   created_at lang            author_id  \
0    2023-04-24T23:59:57.000Z   en            719467444
1    2023-04-24T23:57:40.000Z   en            719467444
2    2023-04-24T23:57:25.000Z   en   759774284323565568
3    2023-04-24T23:56:50.000Z   en   888452184836386816
4    2023-04-24T23:56:02.000Z   en  1173122453192577025
..                        ...  ...                  ...
188  2023-04-24T22:47:56.000Z   en  1349447184169791495
189  2023-04-24T22:46:40.000Z   en  1478544949947817986
190  2023-04-24T22:45:37.000Z   en  1519818546422947840
191  2023-04-24T22:43:20.000Z   en  1369622110646251522
192  2023-04-24T22:41:53.000Z   en  1396383704981774338

    edit_history_tweet_ids  \
0    [1650650819228839937]
1    [1650650243581485057]
2    [1650650180826308608]
3    [1650650033535033344]
4    [1650649831629787136]
..                     ...
188  [1650632695427350528]
189  [1650632376496652288]
190  [1650632111483756545]
191  [1650631538877296640]
192  [1650631171238232070]

                                        referenced_tweets  \
0    [{'type': 'retweeted', 'id': '1650594132325269504'}]
1    [{'type': 'retweeted', 'id': '1650601463083593729'}]
2    [{'type': 'retweeted', 'id': '1650630705951694848'}]
3    [{'type': 'retweeted', 'id': '1650638516723019776'}]
4    [{'type': 'retweeted', 'id': '1650584866516357120'}]
..                                                    ...
188  [{'type': 'retweeted', 'id': '1650514934999171072'}]
189  [{'type': 'retweeted', 'id': '1650350797115490304'}]
190  [{'type': 'retweeted', 'id': '1647679903767117826'}]
191  [{'type': 'retweeted', 'id': '1649158820810182656'}]
192  [{'type': 'retweeted', 'id': '1649620313456664577'}]

                      id      conversation_id  batch_id  ...  \
0    1650650819228839937  1650650819228839937         1  ...
1    1650650243581485057  1650650243581485057         1  ...
2    1650650180826308608  1650650180826308608         1  ...
3    1650650033535033344  1650650033535033344         1  ...
4    1650649831629787136  1650649831629787136         1  ...
..                   ...                  ...       ...  ...
188  1650632695427350528  1650632695427350528         2  ...
189  1650632376496652288  1650632376496652288         2  ...
190  1650632111483756545  1650632111483756545         2  ...
191  1650631538877296640  1650631538877296640         2  ...
192  1650631171238232070  1650631171238232070         2  ...

    user.public_metrics.tweet_count  user.public_metrics.listed_count  \
0                            122278                                 3
1                            122278                                 3
2                              2140                                 1
3                             20140                                 0
4                             82169                                 3
..                              ...                               ...
188                           13489                                 1
189                            1622                                 0
190                            1462                                 0
191                            1854                                 0
192                            4467                                 1

     user.verified    user.username  attachments.media_keys  media.media_key  \
0            False           mdmksa                     NaN              NaN
1            False           mdmksa                     NaN              NaN
2            False        imraihany                     NaN              NaN
3            False   DavidC_Ramirez                     NaN              NaN
4            False      wonuissweet                     NaN              NaN
..             ...              ...                     ...              ...
188          False  TheBoss94431588                     NaN              NaN
189          False     AyanBaig2010                     NaN              NaN
190          False  Chohan094673212                     NaN              NaN
191          False         nilvera5                     NaN              NaN
192          False       noanmandre                     NaN              NaN

    media.type in_reply_to_user_id withheld.copyright withheld.country_codes
0          NaN                 NaN                NaN                    NaN
1          NaN                 NaN                NaN                    NaN
2          NaN                 NaN                NaN                    NaN
3          NaN                 NaN                NaN                    NaN
4          NaN                 NaN                NaN                    NaN
..         ...                 ...                ...                    ...
188        NaN                 NaN                NaN                    NaN
189        NaN                 NaN                NaN                    NaN
190        NaN                 NaN                NaN                    NaN
191        NaN                 NaN                NaN                    NaN
192        NaN                 NaN                NaN                    NaN

[193 rows x 37 columns]

In [58]:
final_spark_df.printSchema()

root
 |-- reply_settings: string (nullable = true)
 |-- edit_history_tweet_ids: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- referenced_tweets: array (nullable = true)
 |    |-- element: map (containsNull = true)
 |    |    |-- key: string
 |    |    |-- value: string (valueContainsNull = true)
 |-- created_at: timestamp (nullable = true)
 |-- lang: string (nullable = true)
 |-- text: string (nullable = true)
 |-- conversation_id: string (nullable = true)
 |-- author_id: string (nullable = true)
 |-- id: string (nullable = true)
 |-- batch_id: integer (nullable = true)
 |-- hashtags: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- attachments.media_keys: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- public_metrics.retweet_count: long (nullable = true)
 |-- public_metrics.reply_count: long (nullable = true)
 |-- public_metrics.like_count: long (nullable = true)
 |-- public_metrics.quote_count: long (nullable = true)
 |-- public_metrics.impression_count: long (nullable = true)
 |-- entities.mentions: array (nullable = true)
 |    |-- element: map (containsNull = true)
 |    |    |-- key: string
 |    |    |-- value: string (valueContainsNull = true)
 |-- user.profile_image_url: string (nullable = true)
 |-- user.pinned_tweet_id: string (nullable = true)
 |-- user.location: string (nullable = true)
 |-- user.protected: boolean (nullable = true)
 |-- user.verified: boolean (nullable = true)
 |-- user.description: string (nullable = true)
 |-- user.name: string (nullable = true)
 |-- user.id: string (nullable = true)
 |-- user.username: string (nullable = true)
 |-- user.created_at: string (nullable = true)
 |-- user.public_metrics.followers_count: long (nullable = true)
 |-- user.public_metrics.following_count: long (nullable = true)
 |-- user.public_metrics.tweet_count: long (nullable = true)
 |-- user.public_metrics.listed_count: long (nullable = true)
 |-- media.media_key: string (nullable = true)
 |-- media.type: string (nullable = true)
 |-- in_reply_to_user_id: string (nullable = true)
 |-- geo.place_id: string (nullable = true)
 |-- place.name: string (nullable = true)
 |-- place.place_type: string (nullable = true)
 |-- place.id: string (nullable = true)
 |-- place.country_code: string (nullable = true)
 |-- place.full_name: string (nullable = true)
 |-- place.country: string (nullable = true)
 |-- place.geo.type: string (nullable = true)
 |-- place.geo.bbox: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Day: integer (nullable = true)
 |-- Hour: integer (nullable = true)

In [59]:
final_spark_df.toPandas()

,reply_settings,edit_history_tweet_ids,referenced_tweets,created_at,lang,text,conversation_id,author_id,id,batch_id,...,place.id,place.country_code,place.full_name,place.country,place.geo.type,place.geo.bbox,Year,Month,Day,Hour
0,everyone,[1650650819228839937],"[{'type': 'retweeted', 'id': '1650594132325269504'}]",2023-04-24 23:59:57,en,RT @KSAmofaEN: In continuation of the evacuation efforts made by the Kingdom of #Saudi Arabia under the directives of the Kingdom's Leaders…,1650650819228839937,719467444,1650650819228839937,1,...,NaN,NaN,NaN,NaN,NaN,NaN,2023,4,24,23
1,everyone,[1650650243581485057],"[{'type': 'retweeted', 'id': '1650601463083593729'}]",2023-04-24 23:57:40,en,RT @EKHNews_EN: 🎥 | #Saudi citizen expresses his feelings after arriving in the kingdom of #SaudiArabia \n\n#EKHNews_EN https://t.co/Bp032P6P…,1650650243581485057,719467444,1650650243581485057,1,...,NaN,NaN,NaN,NaN,NaN,NaN,2023,4,24,23
2,everyone,[1650650180826308608],"[{'type': 'retweeted', 'id': '1650630705951694848'}]",2023-04-24 23:57:25,en,"RT @arabnews: Saudi students won another global robotics competition in Houston, #US, one of the world's most prestigious events https://t.…",1650650180826308608,759774284323565568,1650650180826308608,1,...,NaN,NaN,NaN,NaN,NaN,NaN,2023,4,24,23
3,everyone,[1650650033535033344],"[{'type': 'retweeted', 'id': '1650638516723019776'}]",2023-04-24 23:56:50,en,"RT @TheRajGiri: According to @Fightful, the Miz was one of the people CM Punk spoke to backstage at #WWERAW today. Who can forget the time…",1650650033535033344,888452184836386816,1650650033535033344,1,...,NaN,NaN,NaN,NaN,NaN,NaN,2023,4,24,23
4,everyone,[1650649831629787136],"[{'type': 'retweeted', 'id': '1650584866516357120'}]",2023-04-24 23:56:02,en,RT @going_svt: [TRENDS] Youtube 🌎 update\n\n#2 (+2) SEVENTEEN SUPER\n\nTrending Overall · Music\n#1 United Arab Emirates \n#1 Kuwait\n#1 Qatar\n#2…,1650649831629787136,1173122453192577025,1650649831629787136,1,...,NaN,NaN,NaN,NaN,NaN,NaN,2023,4,24,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,everyone,[1650632695427350528],"[{'type': 'retweeted', 'id': '1650514934999171072'}]",2023-04-24 22:47:56,en,RT @Saudi_Gazette: The Ministry of #Hajj and #Umrah (@MoHU_En) has confirmed that the condition of obtaining a permit to perform the Umrah…,1650632695427350528,1349447184169791495,1650632695427350528,2,...,NaN,NaN,NaN,NaN,NaN,NaN,2023,4,24,22
189,everyone,[1650632376496652288],"[{'type': 'retweeted', 'id': '1650350797115490304'}]",2023-04-24 22:46:40,en,"RT @islaminind: #Ramadan is a month of eternal blessings. Our journey towards spiritual excellence does not end, rather begins with the end…",1650632376496652288,1478544949947817986,1650632376496652288,2,...,NaN,NaN,NaN,NaN,NaN,NaN,2023,4,24,22
190,everyone,[1650632111483756545],"[{'type': 'retweeted', 'id': '1647679903767117826'}]",2023-04-24 22:45:37,en,"RT @TheTrueIslamUK: 1/ 🌙 Last night, the Ahmadiyya Muslim Community UK hosted a spectacular #BigIftar event with over 1,000 attendees, incl…",1650632111483756545,1519818546422947840,1650632111483756545,2,...,NaN,NaN,NaN,NaN,NaN,NaN,2023,4,24,22
191,everyone,[1650631538877296640],"[{'type': 'retweeted', 'id': '1649158820810182656'}]",2023-04-24 22:43:20,en,"RT @ozarslansevinc: Teacher Enbiya Ünal is in custody with her kid in Edirne in TR. Tomorrow on the first day of Ramadan Feast, she will st…",1650631538877296640,1369622110646251522,1650631538877296640,2,...,NaN,NaN,NaN,NaN,NaN,NaN,2023,4,24,22
192,everyone,[1650631171238232070],"[{'type': 'retweeted', 'id': '1649620313456664577'}]",2023-04-24 22:41:53,en,"RT @smartlaunchpad_: 🌙 Ramadan Giveaway 🌙 \n$5,000 USDT for 50 Winners 🤩 \nRT &amp; share ur USDT address.\n\n#Ramadan #Giveaway #Airdrops #USDT #B…",1650631171238232070,1396383704981774338,1650631171238232070,2,...,NaN,NaN,NaN,NaN,NaN,NaN,2023,4,24,22

In [42]:
#specific_seasons = spark.read.parquet("twitter-landing-data/*/*/*/*")

In [43]:
# create a temporary view of the DataFrame
#specific_seasons.createOrReplaceTempView("temp_data_view")

In [44]:
# create the Hive table with the same schema as the DataFrame
#spark.sql("CREATE TABLE IF NOT EXISTS twitter_landing_table_test \
#          LIKE temp_data_view".format("twitter-landing-data/*/*/*/*"))

++
||
++
++

In [45]:
#spark.sql("INSERT INTO TABLE twitter_landing_table_test \
#          SELECT * FROM temp_data_view")

++
||
++
++

In [9]:
# verify the table creation
spark.sql("SELECT * FROM twitter_landing_table_test").toPandas()

,reply_settings,edit_history_tweet_ids,referenced_tweets,created_at,lang,text,conversation_id,author_id,id,batch_id,...,in_reply_to_user_id,geo.place_id,place.name,place.place_type,place.id,place.country_code,place.full_name,place.country,place.geo.type,place.geo.bbox
0,everyone,[1650650423966195712],[],2023-04-24 23:58:23,en,#Iran opens embassy in #SaudiArabia amid warming ties https://t.co/pMdprjDPBA,1650650423966195712,1054170412194553857,1650650423966195712,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,everyone,[1650650226405912580],[],2023-04-24 23:57:36,en,link: https://t.co/lwqkVntVgi\n📰🔥 \n Water permits for Saudi Arabia-owned farm in Ar ...\n#news #short #shortnews #breaking #breakingnews\n2023-04-25 03:57:34.507883 https://t.co/potNcSp4y1,1650650226405912580,1610131389008969728,1650650226405912580,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,everyone,[1650650160869912580],"[{'type': 'quoted', 'id': '1649397257329053698'}]",2023-04-24 23:57:20,en,China receives further praise for their role in mediating conflict between Iran and Saudi. #cherribi https://t.co/xSoBMRdbSP,1650650160869912580,1567675511320477698,1650650160869912580,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,everyone,[1650649862684262400],"[{'type': 'retweeted', 'id': '1650595454906671127'}]",2023-04-24 23:56:09,en,RT @united_oromo: Wollo Oromos who were returning from Saudi Arabia were massacred in Amhara RS on their way home. Abiy ignores it. He beli…,1650649862684262400,1626941000521220098,1650649862684262400,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,everyone,[1650649819982049282],"[{'type': 'retweeted', 'id': '1650502829084233734'}]",2023-04-24 23:55:59,en,"RT @trhaskahsay2: #Saudi govnt &amp; Ansar Allah, also known as the Houthi forces, the de facto authority in much of #Yemen, laid out a series…",1650649819982049282,1496048670806007812,1650649819982049282,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9266,everyone,[1650632737060012034],"[{'type': 'retweeted', 'id': '1650623224630091778'}]",2023-04-24 22:48:06,en,"RT @AshimovTunay: Thanks to everyone who has supported me so far! They money we raise get's sent to Brixton Masjid every week, so we're alr…",1650632737060012034,2198468167,1650632737060012034,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9267,everyone,[1650632647666802691],[],2023-04-24 22:47:45,en,Eid Mubarak to everyone celebrating.\n\n#eid #eidmubarak #ramadan https://t.co/3OQQualZEb,1650632647666802691,716024935848681472,1650632647666802691,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9268,everyone,[1650632208065994754],"[{'type': 'retweeted', 'id': '1650483573789716480'}]",2023-04-24 22:46:00,en,RT @Camps_Of_Iman: #NEW | Ramadan Series | 12 | THE BITTERSWEET END | Sincere Counsel to The Believing Slave\n\nhttps://t.co/MRaACtoQpn,1650632208065994754,1436044246625275912,1650632208065994754,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9269,everyone,[1650632051924631552],"[{'type': 'retweeted', 'id': '1648826673159340032'}]",2023-04-24 22:45:23,en,"RT @AyeshaaSiddiqa: O Allah, you are the most forgiving and you love to forgive, so forgive me.\n\n#Ramadan https://t.co/acCsN8yDva",1650632051924631552,1519818546422947840,1650632051924631552,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9270,everyone,[1650631301962031106],"[{'type': 'retweeted', 'id': '1650618171139694593'}]",2023-04-24 22:42:24,en,RT @KhaledBeydoun: Ramadan is over.\n\nBut the Uyghur Muslim genocide continues.\n\nAs does the struggle of Uyghur refugees and Orphans.\n\nGIVE…,1650631301962031106,1584947093948579841,1650631301962031106,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#specific_seasons.toPandas()

,reply_settings,edit_history_tweet_ids,referenced_tweets,created_at,lang,text,conversation_id,author_id,id,batch_id,...,in_reply_to_user_id,geo.place_id,place.name,place.place_type,place.id,place.country_code,place.full_name,place.country,place.geo.type,place.geo.bbox
0,everyone,[1650650819228839937],"[{'type': 'retweeted', 'id': '1650594132325269504'}]",2023-04-24 23:59:57,en,RT @KSAmofaEN: In continuation of the evacuation efforts made by the Kingdom of #Saudi Arabia under the directives of the Kingdom's Leaders…,1650650819228839937,719467444,1650650819228839937,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,everyone,[1650650243581485057],"[{'type': 'retweeted', 'id': '1650601463083593729'}]",2023-04-24 23:57:40,en,RT @EKHNews_EN: 🎥 | #Saudi citizen expresses his feelings after arriving in the kingdom of #SaudiArabia \n\n#EKHNews_EN https://t.co/Bp032P6P…,1650650243581485057,719467444,1650650243581485057,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,everyone,[1650650180826308608],"[{'type': 'retweeted', 'id': '1650630705951694848'}]",2023-04-24 23:57:25,en,"RT @arabnews: Saudi students won another global robotics competition in Houston, #US, one of the world's most prestigious events https://t.…",1650650180826308608,759774284323565568,1650650180826308608,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,everyone,[1650650033535033344],"[{'type': 'retweeted', 'id': '1650638516723019776'}]",2023-04-24 23:56:50,en,"RT @TheRajGiri: According to @Fightful, the Miz was one of the people CM Punk spoke to backstage at #WWERAW today. Who can forget the time…",1650650033535033344,888452184836386816,1650650033535033344,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,everyone,[1650649831629787136],"[{'type': 'retweeted', 'id': '1650584866516357120'}]",2023-04-24 23:56:02,en,RT @going_svt: [TRENDS] Youtube 🌎 update\n\n#2 (+2) SEVENTEEN SUPER\n\nTrending Overall · Music\n#1 United Arab Emirates \n#1 Kuwait\n#1 Qatar\n#2…,1650649831629787136,1173122453192577025,1650649831629787136,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,everyone,[1650632737060012034],"[{'type': 'retweeted', 'id': '1650623224630091778'}]",2023-04-24 22:48:06,en,"RT @AshimovTunay: Thanks to everyone who has supported me so far! They money we raise get's sent to Brixton Masjid every week, so we're alr…",1650632737060012034,2198468167,1650632737060012034,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382,everyone,[1650632647666802691],[],2023-04-24 22:47:45,en,Eid Mubarak to everyone celebrating.\n\n#eid #eidmubarak #ramadan https://t.co/3OQQualZEb,1650632647666802691,716024935848681472,1650632647666802691,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383,everyone,[1650632208065994754],"[{'type': 'retweeted', 'id': '1650483573789716480'}]",2023-04-24 22:46:00,en,RT @Camps_Of_Iman: #NEW | Ramadan Series | 12 | THE BITTERSWEET END | Sincere Counsel to The Believing Slave\n\nhttps://t.co/MRaACtoQpn,1650632208065994754,1436044246625275912,1650632208065994754,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
384,everyone,[1650632051924631552],"[{'type': 'retweeted', 'id': '1648826673159340032'}]",2023-04-24 22:45:23,en,"RT @AyeshaaSiddiqa: O Allah, you are the most forgiving and you love to forgive, so forgive me.\n\n#Ramadan https://t.co/acCsN8yDva",1650632051924631552,1519818546422947840,1650632051924631552,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385,everyone,[1650631301962031106],"[{'type': 'retweeted', 'id': '1650618171139694593'}]",2023-04-24 22:42:24,en,RT @KhaledBeydoun: Ramadan is over.\n\nBut the Uyghur Muslim genocide continues.\n\nAs does the struggle of Uyghur refugees and Orphans.\n\nGIVE…,1650631301962031106,1584947093948579841,1650631301962031106,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
# verify the table creation
#spark.sql("DROP TABLE twitter_landing_table")

AnalysisException: Table or view not found for 'DROP TABLE': twitter_landing_table; line 1 pos 0;
'DropTable false, false
+- 'UnresolvedTableOrView [twitter_landing_table], DROP TABLE, true

In [63]:
#spark.sql("SELECT * FROM twitter_landing_table").toPandas().tail(30)

In [ ]:
spark.sql("DESCRIBE twitter_landing_table").toPandas()

In [79]:
hive_df.toPandas()

,reply_settings,edit_history_tweet_ids,referenced_tweets,created_at,lang,text,conversation_id,author_id,id,batch_id,...,in_reply_to_user_id,geo.place_id,place.name,place.place_type,place.id,place.country_code,place.full_name,place.country,place.geo.type,place.geo.bbox
0,everyone,[1650650819228839937],"[{'type': 'retweeted', 'id': '1650594132325269504'}]",2023-04-24 23:59:57,en,RT @KSAmofaEN: In continuation of the evacuation efforts made by the Kingdom of #Saudi Arabia under the directives of the Kingdom's Leaders…,1650650819228839937,719467444,1650650819228839937,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,everyone,[1650650243581485057],"[{'type': 'retweeted', 'id': '1650601463083593729'}]",2023-04-24 23:57:40,en,RT @EKHNews_EN: 🎥 | #Saudi citizen expresses his feelings after arriving in the kingdom of #SaudiArabia \n\n#EKHNews_EN https://t.co/Bp032P6P…,1650650243581485057,719467444,1650650243581485057,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,everyone,[1650650180826308608],"[{'type': 'retweeted', 'id': '1650630705951694848'}]",2023-04-24 23:57:25,en,"RT @arabnews: Saudi students won another global robotics competition in Houston, #US, one of the world's most prestigious events https://t.…",1650650180826308608,759774284323565568,1650650180826308608,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,everyone,[1650650033535033344],"[{'type': 'retweeted', 'id': '1650638516723019776'}]",2023-04-24 23:56:50,en,"RT @TheRajGiri: According to @Fightful, the Miz was one of the people CM Punk spoke to backstage at #WWERAW today. Who can forget the time…",1650650033535033344,888452184836386816,1650650033535033344,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,everyone,[1650649831629787136],"[{'type': 'retweeted', 'id': '1650584866516357120'}]",2023-04-24 23:56:02,en,RT @going_svt: [TRENDS] Youtube 🌎 update\n\n#2 (+2) SEVENTEEN SUPER\n\nTrending Overall · Music\n#1 United Arab Emirates \n#1 Kuwait\n#1 Qatar\n#2…,1650649831629787136,1173122453192577025,1650649831629787136,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767,everyone,[1650632737060012034],"[{'type': 'retweeted', 'id': '1650623224630091778'}]",2023-04-24 22:48:06,en,"RT @AshimovTunay: Thanks to everyone who has supported me so far! They money we raise get's sent to Brixton Masjid every week, so we're alr…",1650632737060012034,2198468167,1650632737060012034,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
768,everyone,[1650632647666802691],[],2023-04-24 22:47:45,en,Eid Mubarak to everyone celebrating.\n\n#eid #eidmubarak #ramadan https://t.co/3OQQualZEb,1650632647666802691,716024935848681472,1650632647666802691,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
769,everyone,[1650632208065994754],"[{'type': 'retweeted', 'id': '1650483573789716480'}]",2023-04-24 22:46:00,en,RT @Camps_Of_Iman: #NEW | Ramadan Series | 12 | THE BITTERSWEET END | Sincere Counsel to The Believing Slave\n\nhttps://t.co/MRaACtoQpn,1650632208065994754,1436044246625275912,1650632208065994754,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
770,everyone,[1650632051924631552],"[{'type': 'retweeted', 'id': '1648826673159340032'}]",2023-04-24 22:45:23,en,"RT @AyeshaaSiddiqa: O Allah, you are the most forgiving and you love to forgive, so forgive me.\n\n#Ramadan https://t.co/acCsN8yDva",1650632051924631552,1519818546422947840,1650632051924631552,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
771,everyone,[1650631301962031106],"[{'type': 'retweeted', 'id': '1650618171139694593'}]",2023-04-24 22:42:24,en,RT @KhaledBeydoun: Ramadan is over.\n\nBut the Uyghur Muslim genocide continues.\n\nAs does the struggle of Uyghur refugees and Orphans.\n\nGIVE…,1650631301962031106,1584947093948579841,1650631301962031106,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
# Close the streaming

writeTweet.stop()

# stop the SparkSession
spark.stop()

#Stop the context

sc.stop()